# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build
dist/
build/
multer.config.js
# Editor
.vscode/
.idea/

# Uploads
uploads/
