.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #0d6efd;
  color: white;
}

.navbar a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}
